<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abproject.niky">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NikyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NikY"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".view.views.orderhistorydetail.OrderHistoryDetailActivity"></activity>
        <activity android:name=".view.views.addcomment.AddCommentActivity" />
        <activity android:name=".view.views.favoriteslist.FavoritesListActivity" />
        <activity android:name=".view.views.profiledetail.ProfileDetailActivity" />
        <activity android:name=".view.views.orderhistory.OrderHistoryActivity" />
        <activity android:name=".view.views.payment.PaymentResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/hostName"
                    android:pathPattern="/appCheckout"
                    android:scheme="nike" />
            </intent-filter>
        </activity>
        <activity android:name=".view.views.shipping.ShippingActivity" />
        <activity android:name=".view.views.main.MainActivity" />
        <activity
            android:name=".view.views.auth.AuthActivity"
            android:theme="@style/Theme.NikY.Auth" />
        <activity android:name=".view.views.productlist.ProductListActivity" />
        <activity android:name=".view.views.comment.CommentActivity" />
        <activity android:name=".view.views.productdetail.ProductDetailActivity" />
        <activity android:name=".view.views.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>